Source: python-pulp
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools,
Build-Depends-Indep: coinor-cbc,
                     python-pyparsing,
                     python3-pyparsing,
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-pulp.git
Vcs-Git: git://anonscm.debian.org/openstack/python-pulp.git
Homepage: https://github.com/coin-or/pulp

Package: python-pulp
Architecture: all
Depends: coinor-cbc,
         python-pyparsing,
         ${misc:Depends},
         ${python:Depends},
Description: an LP modeler - Python 2.7
 PuLP is an LP modeler written in Python. PuLP can generate MPS or LP files
 and call GLPK, COIN CLP/CBC, CPLEX, and GUROBI[4] to solve linear problems.
 .
 This package contains the Python 2.7 module.

Package: python3-pulp
Architecture: all
Depends: coinor-cbc,
         python3-pyparsing,
         ${misc:Depends},
         ${python3:Depends},
Description: an LP modeler - Python 3.x
 PuLP is an LP modeler written in Python. PuLP can generate MPS or LP files
 and call GLPK, COIN CLP/CBC, CPLEX, and GUROBI to solve linear problems.
 .
 This package contains the Python 3.x module.
